<div class="container mt-5" style="min-width: 350px">
  <div class="card mb-3">
    <div
      id="card-title"
      class="card-body d-flex justify-content-between align-items-center"
      style="height: 5em"
    >
      <span class="card-body h4 mb-0 ps-0">
        {{ title }}
      </span>
      <a
        id="NewPost"
        [routerLink]="['/addEdit']"
        routerLinkActive="active"
        class="btn btn-primary"
      >
        <i class="bi bi-plus-lg">NEW POST</i>
      </a>
    </div>
    <div class="container">
      <ul
        *ngFor="
          let post of storeService.arrayPost
            | slice: (page - 1) * pageSize:page * pageSize;
          let i = index
        "
        class="list-group d-flex align-self-center mb-2"
      >
        <li
          class="list-group-item list-group-item-action"
          style="user-select: none; cursor: pointer"
        >
          <div
            id="headcontainer"
            class="d-flex justify-content-between align-items-center mb-2"
          >
            <!-- (click)="onSelectPost(post)" -->
            <a
              [routerLink]="['/posts/', post.id]"
              routerLinkActive="active"
              class="h6 m-0"
              style="text-transform: uppercase"
            >
              {{ post.title }}

              -
            </a>
            <div id="btn-container me-2">
              <button
                id="EditBtn"
                class="btn btn-secondary btn-sm me-2"
                (click)="toggleEdit(i)"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                id="deleteBtn"
                class="btn btn-warning btn-sm"
                (click)="deletePost(i)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
          <p
            id="post-body-{{ i }}"
            contentEditable="false"
            class="card-text"
            spellcheck="false"
          >
            {{ post.body }}
          </p>
        </li>
      </ul>

      <div
        id="pagination-container"
        class="d-flex justify-content-center mt-3 container-fluid"
      >
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="storeService.arrayPost.length"
          size="sm"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
