<div class="container mt-3">

  <div class="card">
    <div class="card-body">

      <div class="card-title h2 mb-3">{{title}}</div>

      <div class="card-body">


        <div *ngFor="let comment of comments" class="card-body">
          <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
          {{comment.body}}
        </div>

      </div>

    </div>
  </div>

  <hr class="mb-3 mt-3">

  <div class="form-group">
    <div class="input-group mb-3">
      <input id="input-comment" type="text" class="form-control" placeholder="Your comment" aria-label="Your comment"
        aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" id="button-addon2" onclick="addComment(string)">
        Add new comment
      </button>
    </div>
  </div>

</div>