/* You can add global styles to this file, and also import other style files */

html,
body {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #303140;
}

h1 {
  color: #4dd699;
  font-weight: bold;
}
